@import "mixin.scss";

.about-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.about-images {
  position: relative;
  width: calc(50% - 15px);
}

.about-content {
  width: calc(50% - 15px);
}

.about-images .img {
  border-radius: 40px;
  overflow: hidden;
}

.about-images img {
  width: 100%;
  height: auto;
}

.img-top {
  width: 100%;
}

.img-bottom {
  position: absolute;
  transform: translateX(-50%);
  border: 6px solid $textWhite;
  width: 306px;
  height: 289px;
  bottom: -22px;
  right: -122px;
  @include screen-up-1400{
    right: -119px;
    bottom: -40px;
    width: 334px;
    height: 334px;
  }
}

.about .mini-title {
  margin-bottom: 17px;
}

.expertise-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.expertise-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exp-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: $text-333;
}

.exp-percent {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: $text-999;
}


.about-main .sec-heading,
.expertise .sec-heading {
  margin-bottom: 24px;
  @include screen-up-1400{
    margin-bottom: 30px;
  }
}

.about-main .cmn-text {
  max-width: 570px;
}

.certi-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.certi-block {
  width: calc(100% / 3 - (2 * 30px) / 3);
}

.certi-block img {
  width: 100%;
  height: auto;
  border: 13px solid $textBlack;
  cursor: pointer;
}

.certificate .sec-heading {
  margin-bottom: 40px;
}

.slbCloseBtn {
  position: fixed;
  right: 0;
}

.ant-progress-rail{
  border-radius:50px !important;
}

.ant-progress-track{
   transition: width 1.8s ease-in-out !important;
}

.shipping-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap:wrap;
}

/* IMAGE */
.shipping-image {
  position: relative;
  @include  divLayout(2, 30px);
  height:570px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
}

/* EXPERIENCE BADGE */
.exp-badge {
  position: absolute;
  bottom: 32px;
  right: 20px;
  background:$redColor;
  color: #fff;
  min-width: 222px;
  min-height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .exp-num {
    font-size: 80px;
    font-weight: 500;
    line-height: 60px;

    span{
      font-size:50px;
    }
  }

  .exp-text {
    font-size: 18px;
    font-weight: 500;
  }
}

.shipping-content {
  @include  divLayout(2, 30px);
  .wrapper{
    max-width:570px;
  }
}

.divider{
  width: 100%;
  display: block;
  height: 1px;
  background-color: #dddddd;
}

/* SHIPMENT COUNTER */
.shipment-counter {
  p {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: $redColor;
    span{
      font-size: 16px;  
      color: $redColor;
    }
  }

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $textBlack;
  }
}

.about-shipping{
  .red-btn{
    border-radius: 50px;
    height: 50px;
    display: flex;
    min-width: 200px;
    align-items: center;
    justify-content: center;
  }

  .mini-title{
    margin-bottom:17px;
  }

  .cmn-text{
    margin-top:30px;
  }
}

.shipping-mid{
  display:flex;
  align-items:center;
  width:100%;
  justify-content: space-between;
  margin-top:75px;
  margin-bottom:30px;
}

