@import "mixin.scss";

.center {
  text-align: center;
}

.banner-blk {
  position: relative;
  color: $textWhite;
  padding-top: 30px;
  padding-inline: 20px;
}

.banner img {
  border-radius: 40px;
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 47.8%, #0c00a3 100%);
}

.header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  color: $textWhite;
}

.h-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.h-info i {
  color: $darkBlue;
  font-size: 14px;
}

.h-info span {
  font-weight: 500;
}

.mb-100 {
  margin-bottom: 100px;
}

.about-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.about-images {
  position: relative;
  width: calc(50% - 15px);
}

.about-content {
  width: calc(50% - 15px);
}

.about-images .img {
  border-radius: 40px;
  overflow: hidden;
}

.about-images img {
  width: 100%;
  height: auto;
}

.img-top {
  width: 100%;
}

.img-bottom {
  width: 334px;
  height: 334px;
  position: absolute;
  bottom: 6px;
  transform: translateX(-50%);
  border: 6px solid $textWhite;
  right: -140px;
}

.about .mini-title {
  margin-bottom: 17px;
}

.cmn-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-666;
}

.expertise-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.expertise-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exp-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: $text-333;
}

.exp-percent {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: $text-999;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  width: 0;
  height: 100%;
  background: $redColor;
  border-radius: 10px;
}

.about-main .sec-heading,
.expertise .sec-heading {
  margin-bottom: 30px;
}

.about-main .cmn-text {
  max-width: 570px;
}

.certi-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.certi-block {
  width: calc(100% / 3 - (2 * 30px) / 3);
}

.certi-block img {
  width: 100%;
  height: auto;
  border: 13px solid $textBlack;
  cursor: pointer;
}

.certificate .sec-heading {
  margin-bottom: 40px;
}

.slbCloseBtn {
  position: fixed;
  right: 0;
}
