.center {
  text-align: center;
}

.banner-blk {
  position: relative;
  color: #fff;
  padding-top: 30px;
  padding-inline: 20px;
}

.banner img {
  border-radius: 40px;
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 47.8%, #0c00a3 100%);
}

.header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  color: #fff;
}

.h-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.h-info i {
  color: #0C00A3;
  font-size: 14px;
}

.h-info span {
  font-weight: 500;
}

.mb-100 {
  margin-bottom: 100px;
}

.about-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.about-images {
  position: relative;
  width: calc(50% - 15px);
}

.about-content {
  width: calc(50% - 15px);
}

.about-images .img {
  border-radius: 40px;
  overflow: hidden;
}

.about-images img {
  width: 100%;
  height: auto;
}

.img-top {
  width: 100%;
}

.img-bottom {
  width: 334px;
  height: 334px;
  position: absolute;
  bottom: 6px;
  transform: translateX(-50%);
  border: 6px solid #fff;
  right: -140px;
}

.about .mini-title {
  margin-bottom: 17px;
}

.cmn-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.expertise-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.expertise-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exp-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #444;
}

.exp-percent {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #999;
}

.about-main .sec-heading,
.expertise .sec-heading {
  margin-bottom: 30px;
}

.about-main .cmn-text {
  max-width: 570px;
}

.certi-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.certi-block {
  width: calc(33.3333333333% - 20px);
}

.certi-block img {
  width: 100%;
  height: auto;
  border: 13px solid #000;
  cursor: pointer;
}

.certificate .sec-heading {
  margin-bottom: 40px;
}

.slbCloseBtn {
  position: fixed;
  right: 0;
}

.ant-progress-rail {
  border-radius: 50px !important;
}

.ant-progress-track {
  transition: width 1.8s ease-in-out !important;
}

.shipping-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

/* IMAGE */
.shipping-image {
  position: relative;
  width: calc(100% / 2 - (2 - 1) * 30px / 2);
  height: 570px;
}
.shipping-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

/* EXPERIENCE BADGE */
.exp-badge {
  position: absolute;
  bottom: 32px;
  right: 20px;
  background: #cc0001;
  color: #fff;
  min-width: 222px;
  min-height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.exp-badge .exp-num {
  font-size: 80px;
  font-weight: 500;
  line-height: 60px;
}
.exp-badge .exp-num span {
  font-size: 50px;
}
.exp-badge .exp-text {
  font-size: 18px;
  font-weight: 500;
}

/* CONTENT */
.shipping-content {
  width: calc(100% / 2 - (2 - 1) * 30px / 2);
}
.shipping-content .wrapper {
  max-width: 570px;
}

.divider {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #dddddd;
}

/* SHIPMENT COUNTER */
.shipment-counter p {
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #cc0001;
}
.shipment-counter p span {
  font-size: 16px;
  color: #cc0001;
}
.shipment-counter span {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #000;
}

.about-shipping .red-btn {
  border-radius: 50px;
  height: 50px;
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
}
.about-shipping .mini-title {
  margin-bottom: 17px;
}
.about-shipping .cmn-text {
  margin-top: 30px;
}

.shipping-mid {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 30px;
}/*# sourceMappingURL=about.css.map */