@import "mixin.scss";

.pg-blog-listing{
    display: flex;gap: 70px 30px;flex-wrap: wrap;
    @include tab{gap: 45px 25px;}
    .blog-card {
        @include divLayout(3, 30px);
        @include tab{@include divLayout(2, 25px);}
        @include phone-xr{@include divLayout(1, 0px);}
    }
    .content{
        margin-top: 30px;
        @include phone{margin-top: 22px;}
    }
    .icns {
        width: 100%; height: 370px; overflow: hidden; border-radius: 40px; position: relative;
        @include phone{
            height: 290px;border-radius: 26px
        }
        img{@include image-fill;}
        .date-block{
            position: absolute;--spc:30px;
            right: var(--spc);top: var(--spc);color: #fff;background: $redColor;border-radius: 10px;width: 80px;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;padding-block: 20px 3px;
            .day { font-size: 40px; font-weight: 500; line-height: 1; margin-bottom: -4px;}
            .year,
            .month{font-size: 16px;text-transform: capitalize;line-height: normal;}
            @include phone{
                --spc:16px;padding-block: 10px 3px;width: fit-content;padding-inline: 8%;
                .day{font-size: 27px;margin-bottom: 0;}
                .year,.month{font-size: 14px;}
            }
            @include phone-xr{padding-inline: 4%;}
        }
    }
    .blog-title{font-weight: 500;font-size: 20px;color: $text-333;margin-bottom: 10px;line-height: 30px;}
    .blog-desc{font-size:16px;color: $text-666;;line-height:24px;}
    @include phone{
        .blog-title{font-size: 18px;line-height: normal;}
        .blog-desc{font-size: 15px;line-height: normal;}
        
    }
}

.bg-details{
    .cc-row{
        .img-box{border-radius: 40px;overflow: hidden;width: 570px;height: 370px;
            img{@include image-fill;}
            @include phone{width: 100%;}
            @include phone-xr{height: 240px;border-radius: 21px;}
        }
    }
    .date-dt{
        margin-block: 20px;display: block;font-size: 16px;line-height: 24px;
        @include phone-xr {margin-bottom: 12px;}
    }
    .content {
        max-width: 770px;
        h1{margin-bottom: 20px;
            @include phone-xr{margin-bottom: 14px;}
        }
    }
    .pagination{
        display: flex;align-items: center;gap: 30px;margin-top: 30px;
        .pg-btn{width: 170px;height: 50px;}
        @include phone-xr{gap: 22px;}
    }
}