@import "mixin.scss";

.pg-blog-listing{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .blog-card {
        @include divLayout(3, 30px);
    }
    .blog-inner{}
    .content{margin-top: 30px;}
    .icns {
        width: 100%; height: 370px; overflow: hidden; border-radius: 40px; position: relative;
        img{
            @include image-fill;
        }
        .date-block{
            position: absolute;
            right: 30px;top: 30px;color: #fff;background: $redColor;border-radius: 10px;width: 80px;
            height: 100px;
        }
    }
    .blog-title{font-weight: 500;font-size: 20px;color: $text-333;margin-bottom: 10px;line-height: 30px;}
    .blog-desc{font-size:16px;color: $text-666;;line-height:24px;}
}