@import "mixin.scss";
.contact-wrapper{
    .mini-title{
        margin-bottom:20px;
    }
    .sec-heading{
        margin-bottom:30px;
    }
    .cmn-text{
        margin-bottom:30px;
        max-width:410px;
    }
}

.contact-item{
    display: flex;
    gap: 30px;
}

.contact-icon{
    background-color: #CC0001;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.contact-content{
    .title{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color:#333333; 
        margin-bottom:8px;
    }
    .value{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color:$text-666;
    }
    &.two-col{
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}