@import "mixin.scss";
.contact-wrapper{
    .mini-title{
        margin-bottom:20px;
    }
    .sec-heading{
        margin-bottom:30px;
        @include phone-xr{margin-bottom: 15px;}
    }
    .cmn-text{
        margin-bottom:30px;
        max-width:410px;
    }
}

.contact-item{
    display: flex;
    gap: 30px;
    @include phone-xr{
        gap: 15px;
    }
}

.contact-icon{
    background-color: #CC0001;--wd:70px;width: var(--wd);min-width: var(--wd);height: var(--wd);border-radius: 10px;display: flex;align-items: center;justify-content: center;
    @include phone-xr{
        --wd: 45px;border-radius: 10px;
        img{max-width: 38%;height: auto;}
    }
}

.contact-info{
    display:flex;flex-direction:column;gap:30px;
}

.contact-content{
    .title{
        font-weight: 500;font-size: 20px;line-height: 30px;color:#333333;margin-bottom:8px;
        @include phone-xr{font-size: 16px;line-height: 1.4;margin-bottom: 3px;}
    }
    .value{
        font-weight: 400;font-size: 16px;line-height: 24px;color:$text-666;
        @include phone-xr{font-size: 14px;line-height: 1.3;}
    }
    &.two-col{max-width: 400px;display: flex;justify-content: space-between;gap: 10px;}
}