@import "mixin.scss";

html,
body {
    position: relative;background: $textWhite;color: $textBlack;
    font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {margin: 0px;padding: 0px;}

li {list-style-type: none;}

a {text-decoration: none;color: $textWhite;transition: 0.3s ease;}

button > *,
a > * {transition: 0.3s ease;}

button { padding-inline: 20px; transition: 0.3s ease; line-height: normal; display: flex; justify-content: center; align-items: center; }

button,
textarea,
input {border: 0;resize: none;outline: none;background: transparent;padding: 0;}

.flex-box {display: flex;justify-content: center;align-items: center;}
.rounded-full {border-radius: 100px;}
.red-btn {background: $redColor;color: $textWhite;}
.red-btn:hover {background: $redDarkColor;}
.sec-heading { font-weight: 500; font-size: 50px; color: $text-333; line-height: 75px; }

.text-black {color: $textBlack;}
.text-red {color: $redColor;}
.mini-title { font-weight: 500; color: $redColor; font-size: 18px; margin-bottom: 20px; }

.red-outline-btn {
    border: 1px solid $redColor; color: $redColor;
    &:hover {background: $redColor;color: $textWhite;}
}
.white-outline-btn {
  border: 1px solid $textWhite;color: $textWhite;
  &:hover{background: $textWhite;color: $darkGray;}
}

.paddT {padding-top: 100px;}
.paddB {padding-bottom: 100px;}
.image-cover {@include image-fill;}

/* ===  CTA == */
.cta {
  a {min-width: 170px;height: 50px;}
  .inner-area {background: $redColor;padding-block: 75px;}
  .c-row {align-items: center;}
}

/* === BANNER == */
.center {
  text-align: center;
}

.banner-blk {
  position: relative;
  color: $textWhite;
  padding-top: 30px;
  padding-inline: 20px;
}

.banner img {
  border-radius: 40px;
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 47.8%, #0c00a3 100%);
}

.header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  color: $textWhite;
}

.h-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.ant-breadcrumb-link{
  color:#ffffff;
  a{color:#cccccc !important; font-size:18px !important; font-weight:400 !important;}
}

.h-info i {
  color: $darkBlue;
  font-size: 14px;
}

.h-info span {
  font-weight: 500;
  line-height: 22px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* ===  FOOTER == */
footer {
  background: $textBlack;
  color: $textWhite;
  .inner-area {padding-block: 60px 172px;}
  .ft-links {justify-content: space-between;gap: 58px;
  }
  .ft-link-col {
    ul {display: flex;flex-direction: column;gap: 10px;}
    li a {font-size: 18px;color: #e0e0e0;}
  }
  .link-box a:hover {color: $redColor;}
  .ftl-title {font-size: 18px; display: block; margin-bottom: 14px;}
  .ft-divder {
    width: 100%; height: 1px; background: $textWhite; margin-block: 60px 20px; display: block;
  }
  .help-fts {
    ul {gap: 20px;}
    .label {font-size: 18px;color: #e0e0e0;line-height: 27px;}
    li a {font-size: 24px;color: $textWhite;}
  }
}
.bigLogo {position: absolute;bottom: 0;}
.link-box {
  &.start {gap: 94px;}
  &.mid {
    a {
      display: flex;
      &:hover {
        filter: drop-shadow(0 0 10px #e0e0e057);
      }
    }
  }
}

.faq .left-area {
  padding-top: 123px;
}

.adv-listing {
    display: flex; flex-wrap: wrap; gap: 30px; margin-top: 50px;
    .adv-item {width: calc(100% / 2 - (1 * 30px) / 2); gap: 30px;}
    .adv-icon {
    --sz: 70px; min-width: var(--sz); height: var(--sz); width: var(--sz); display: flex; justify-content: center; align-items: center; background: $darkGray; border-radius: 14px; color: $textWhite; font-size: 25px; position: relative;
        &::after {
            content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: url("../images/check-icon.png") no-repeat center / contain; width: 21px; height: 20px;
        }
    }
    .adv-title { font-weight: 500; font-size: 20px; color: $text-333; margin-bottom: 10px; }
    .adv-para { font-size: 16px; color: $text-999; line-height: 24px; }
}

nav {
  position: fixed;z-index: 9;width: 100%;left: 0;padding-block: 40px;
  .inner-area {display: flex;align-items: center;}
  .branding {margin-right: 130px;}
  .inq-nav {margin-left: auto;height: 50px;width: 170px;}
  transition: .3s ease;
  &.nav-scrolled{padding-block: 20px; background: #000; box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);}
}

.faq {
    .ant-tabs-top >.ant-tabs-nav::before, .ant-tabs-top >div>.ant-tabs-nav::before{display: none;}
    .ant-tabs-top >.ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top >div>.ant-tabs-nav .ant-tabs-ink-bar{display: none;}
    .ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible), .ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible), &.ant-tabs .ant-tabs-tab-btn:active, &.ant-tabs .ant-tabs-tab-remove:active{
        color: $darkGray;
    }
    .ant-tabs{
        .ant-tabs-nav-list{gap: 30px;width: 100%;}
        .ant-tabs-tab{
           flex-grow: 1;margin: 0;justify-content: center; padding: 0; border: 0; width: 100%;color: $text-999; font-weight: 500; font-size: 20px; text-transform: capitalize; text-align: center; border-radius: 0;
           &.ant-tabs-tab-active{background: $redColor;}
        }
        .ant-tabs-tab-btn{width: 100%; height: 50px; @include dispflex(flex,center,center)}
    }
    .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{color: $textWhite;}
    .ant-collapse{
        border: 0;background: transparent;font-family: $font_popppin;
        &.ant-collapse>.ant-collapse-item >.ant-collapse-header{
            outline: none;padding-inline: 0; font-weight: 500;font-size: 20px;color: $text-333;line-height: 30px;padding-block: 22px;align-items: center;
        }
        .ant-collapse-body{
            padding: 19px 0;
            p{font-weight: 400;font-size: 16px;padding-left: 20px;color: $text-666;position: relative;
                &::before{
                    position: absolute;content: ""; --sz:4px;width: var(--sz);height: var(--sz);border-radius: 50%;background:  $text-666;
                    top: 9px;left: 7px;
                }
            }
        }
    }
}

.service-listing{
    margin-top: 30px;
    .icns{margin-bottom: 20px;}
    .service-title{font-weight: 500;font-size: 20px;color: $text-333;margin-bottom: 20px;}
    .service-desc{font-size: 16px;color: $text-666;line-height: 24px;}
}
.product-listing{
    .search-box{margin-block: 40px;}
}
.search-box {
    display: flex; align-items: stretch; justify-content: center; max-width: 770px; margin-inline: auto;position: relative;
    input{
       height: 50px; border: 1px solid $text-999; border-radius: 10px; display: block; font-weight: 500; font-size: 16px;padding: 0 40px 0 20px;
    }
    .icon{
        position: absolute;right: 17px;top: 50%;transform: translateY(-50%);
    }
}

.product-card{
    .icns{background: #EDEDED;width: 100%;height: 292px;border-radius: 40px;overflow: hidden;}
    .product-title{text-align: center;font-weight: 500;font-size: 18px;color: $text-333;padding-block: 10px;}
    .red-outline-btn{height: 40px;font-weight: 500;font-size: 16px;}
}

.vdo-box{
    video,
    img{position: absolute;inset: 0;height: 100%;object-fit: cover;}
    button{
        position: absolute;top: 50%;left: 50%;transform: translate(-50% , -50%);--sz:70px;height: var(--sz);width: var(--sz);
        border-radius: 50%;@include dispflex(flex,center,center);background: #000000;z-index: 3;color: #fff; font-size: 24px;
        &:hover{background: #121212;}
    }
}

.faq-pg{
    .sec-heading{margin-bottom: 40px;}
}

.feat-product-card{
    height: 0;padding-bottom: 100%;border-radius: 40px ;position: relative;overflow: hidden;border: 1px solid #FFFFFF;
    .icns{
        position: absolute;inset: 0;
        img{@include image-fill;}
    }
    &::before{
        position: absolute;
        content: '';
        height: 127px;
        bottom: 0;
        left: 0;z-index: 1;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    .featP-title{
        font-weight: 500; font-size: 20px; position: absolute; color: #fff; bottom: 0; z-index: 1; width: 100%; padding:  14px 20px 20px 20px ;
        &::before{
            content: '';position: absolute;top: 0;left:50%;right: 0;height: 1px;background: #fff;transform: translateX(-50%);width: calc(100% - 40px);
        }
    }
}

.testim-sliderbox{
    height: 100%;
    & *{height: 100%;}
    .content-card{
        position: absolute;height: fit-content;bottom:30px;background: #00000066;backdrop-filter: blur(20px);border-radius: 30px;width: calc(100% - 60px);padding: 30px
    }
    .testm-card{background: #444;padding: 30px;}
    .testm-desc{font-style: Italic;font-size: 16px;color: #fff;margin-bottom: 22px;;}
    .bgImg{
        position: absolute;inset: 0;
        img{width: 100%;object-fit: cover;}
    }
    .testm-desc{font-style: Italic;font-size: 16px;margin-bottom: 22px;}
    .infor{display: flex;gap: 9px;color: #fff;align-items: center;}
    .inf{
        h4{font-weight: 600;font-size: 18px;line-height: 27px;}
        h5{font-weight: 400;line-height: 24px;font-size: 16px;}
    }
    .avts{
        --sz:40px;min-width: var(--sz);width: var(--sz);height: var(--sz);border-radius: 50%;overflow: hidden;
        img{@include image-fill;}
    }
}
.navLink{
    color: $textWhite;
    &.active,
    &:hover{color: $redColor;}
}

.cmn-dd-theme{
    &.ant-dropdown {
        .ant-dropdown-menu .ant-dropdown-menu-item{
            padding: 0;            
        }
        .ant-dropdown-menu .ant-dropdown-menu-title-content >a{
            padding: 3px 13px;width: 100%;display: inline-flex;border-radius: 4px;
            &:hover{
                background: $redColor;
                color: $textWhite;
            }
        }
    }
}
.testimonials{
  padding-inline: 20px;
}

.testimonial-card {
  display: flex;
  background: #1c1c1c;
  border-radius: 24px;
  overflow: hidden;
  min-height:500px;
}

/* LEFT IMAGE */
.testimonial-image {
  width: 45%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* RIGHT CONTENT */
.testimonial-content {
  width: 55%;
  padding: 50px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap:17px;
}

.testimonial-message {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  max-width:575px;
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 14px;

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
  }

  .name {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height:27px;
    margin: 0;
  }

  .company {
    font-size: 14px;
    color: #aaa;
  }
}

.testimonial-swiper {
  .swiper-pagination {
    bottom: 95px !important;
    left: 369px !important;

    .swiper-pagination-bullet {
      background: #414141;
      opacity: 1;
      width:10px !important;
      height :10px !important;

      &-active {
        background: $redColor;
      }
    }
  }
}