html,
body {
  position: relative;
  background: #fff;
  color: #000;
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}

button > *,
a > * {
  transition: 0.3s ease;
}

button {
  padding-inline: 20px;
  transition: 0.3s ease;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
textarea,
input {
  border: 0;
  resize: none;
  outline: none;
  background: transparent;
  padding: 0;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-full {
  border-radius: 100px;
}

.red-btn {
  background: #cc0001;
  color: #fff;
}

.red-btn:hover {
  background: #a90001;
}

.sec-heading {
  font-weight: 500;
  font-size: 50px;
  color: #444;
  line-height: 75px;
}

.text-black {
  color: #000;
}

.text-red {
  color: #cc0001;
}

.mini-title {
  font-weight: 500;
  color: #cc0001;
  font-size: 18px;
  margin-bottom: 20px;
}

.red-outline-btn {
  border: 1px solid #cc0001;
  color: #cc0001;
}
.red-outline-btn:hover {
  background: #cc0001;
  color: #fff;
}

.white-outline-btn {
  border: 1px solid #fff;
  color: #fff;
}
.white-outline-btn:hover {
  background: #fff;
  color: #1e1e1e;
}

.paddT {
  padding-top: 100px;
}

.paddB {
  padding-bottom: 100px;
}

.image-cover {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ===  CTA == */
.cta a {
  min-width: 170px;
  height: 50px;
}
.cta .inner-area {
  background: #cc0001;
  padding-block: 75px;
}
.cta .c-row {
  align-items: center;
}

/* === BANNER == */
.center {
  text-align: center;
}

.banner-blk {
  position: relative;
  color: #fff;
  padding-top: 30px;
  padding-inline: 20px;
}

.banner img {
  border-radius: 40px;
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 47.8%, #0c00a3 100%);
}

.header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  color: #fff;
}

.h-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.ant-breadcrumb-link {
  color: #ffffff;
}
.ant-breadcrumb-link a {
  color: #cccccc !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.h-info i {
  color: #0C00A3;
  font-size: 14px;
}

.h-info span {
  font-weight: 500;
  line-height: 22px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* ===  FOOTER == */
footer {
  background: #000;
  color: #fff;
}
footer .inner-area {
  padding-block: 60px 172px;
}
footer .ft-links {
  justify-content: space-between;
  gap: 58px;
}
footer .ft-link-col ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .ft-link-col li a {
  font-size: 18px;
  color: #e0e0e0;
}
footer .link-box a:hover {
  color: #cc0001;
}
footer .ftl-title {
  font-size: 18px;
  display: block;
  margin-bottom: 14px;
}
footer .ft-divder {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-block: 60px 20px;
  display: block;
}
footer .help-fts ul {
  gap: 20px;
}
footer .help-fts .label {
  font-size: 18px;
  color: #e0e0e0;
  line-height: 27px;
}
footer .help-fts li a {
  font-size: 24px;
  color: #fff;
}

.bigLogo {
  position: absolute;
  bottom: 0;
}

.link-box.start {
  gap: 94px;
}
.link-box.mid a {
  display: flex;
}
.link-box.mid a:hover {
  filter: drop-shadow(0 0 10px rgba(224, 224, 224, 0.3411764706));
}

.faq .left-area {
  padding-top: 123px;
}

.adv-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.adv-listing .adv-item {
  width: calc(50% - 15px);
  gap: 30px;
}
.adv-listing .adv-icon {
  --sz: 70px;
  min-width: var(--sz);
  height: var(--sz);
  width: var(--sz);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  border-radius: 14px;
  color: #fff;
  font-size: 25px;
  position: relative;
}
.adv-listing .adv-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/check-icon.png") no-repeat center/contain;
  width: 21px;
  height: 20px;
}
.adv-listing .adv-title {
  font-weight: 500;
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}
.adv-listing .adv-para {
  font-size: 16px;
  color: #999;
  line-height: 24px;
}

nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  left: 0;
  padding-block: 40px;
  transition: 0.3s ease;
}
nav .inner-area {
  display: flex;
  align-items: center;
}
nav .branding {
  margin-right: 130px;
}
nav .inq-nav {
  margin-left: auto;
  height: 50px;
  width: 170px;
}
nav.nav-scrolled {
  padding-block: 20px;
  background: #000;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.faq .ant-tabs-top > .ant-tabs-nav::before, .faq .ant-tabs-top > div > .ant-tabs-nav::before {
  display: none;
}
.faq .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .faq .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
  display: none;
}
.faq .ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible), .faq .ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible), .faq.ant-tabs .ant-tabs-tab-btn:active, .faq.ant-tabs .ant-tabs-tab-remove:active {
  color: #1e1e1e;
}
.faq .ant-tabs .ant-tabs-nav-list {
  gap: 30px;
  width: 100%;
}
.faq .ant-tabs .ant-tabs-tab {
  flex-grow: 1;
  margin: 0;
  justify-content: center;
  padding: 0;
  border: 0;
  width: 100%;
  color: #999;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  border-radius: 0;
}
.faq .ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: #cc0001;
}
.faq .ant-tabs .ant-tabs-tab-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}
.faq .ant-collapse {
  border: 0;
  background: transparent;
  font-family: var(--font-poppins), sans-serif;
}
.faq .ant-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  outline: none;
  padding-inline: 0;
  font-weight: 500;
  font-size: 20px;
  color: #444;
  line-height: 30px;
  padding-block: 22px;
  align-items: center;
}
.faq .ant-collapse .ant-collapse-body {
  padding: 19px 0;
}
.faq .ant-collapse .ant-collapse-body p {
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
  color: #666;
  position: relative;
}
.faq .ant-collapse .ant-collapse-body p::before {
  position: absolute;
  content: "";
  --sz:4px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  background: #666;
  top: 9px;
  left: 7px;
}

.service-listing {
  margin-top: 30px;
}
.service-listing .icns {
  margin-bottom: 20px;
}
.service-listing .service-title {
  font-weight: 500;
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
}
.service-listing .service-desc {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}

.product-listing .search-box {
  margin-block: 40px;
}

.search-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 770px;
  margin-inline: auto;
  position: relative;
}
.search-box input {
  height: 50px;
  border: 1px solid #999;
  border-radius: 10px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding: 0 40px 0 20px;
}
.search-box .icon {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.product-card .icns {
  background: #EDEDED;
  width: 100%;
  height: 292px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
.product-card .icns img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.product-card .product-title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #444;
  padding-block: 10px;
}
.product-card .red-outline-btn {
  height: 40px;
  font-weight: 500;
  font-size: 16px;
}
.product-card .imglink:hover img {
  transform: scale(1.05);
}

.vdo-box video,
.vdo-box img {
  position: absolute;
  inset: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.vdo-box button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --sz:70px;
  height: var(--sz);
  width: var(--sz);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  z-index: 3;
  color: #fff;
  font-size: 24px;
}
.vdo-box button:hover {
  background: #121212;
}

.faq-pg .sec-heading {
  margin-bottom: 40px;
}

.feat-product-card {
  height: 0;
  padding-bottom: 100%;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  border: 1px solid #FFFFFF;
}
.feat-product-card .icns {
  position: absolute;
  inset: 0;
}
.feat-product-card .icns img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feat-product-card::before {
  position: absolute;
  content: "";
  height: 127px;
  bottom: 0;
  left: 0;
  z-index: 1;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.feat-product-card .featP-title {
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  color: #fff;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 14px 20px 20px 20px;
}
.feat-product-card .featP-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  height: 1px;
  background: #fff;
  transform: translateX(-50%);
  width: calc(100% - 40px);
}

.testim-sliderbox {
  height: 100%;
}
.testim-sliderbox * {
  height: 100%;
}
.testim-sliderbox .content-card {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 30px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 30px;
  width: calc(100% - 60px);
  padding: 30px;
}
.testim-sliderbox .testm-card {
  background: #444;
  padding: 30px;
}
.testim-sliderbox .testm-desc {
  font-style: Italic;
  font-size: 16px;
  color: #fff;
  margin-bottom: 22px;
}
.testim-sliderbox .bgImg {
  position: absolute;
  inset: 0;
}
.testim-sliderbox .bgImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testim-sliderbox .testm-desc {
  font-style: Italic;
  font-size: 16px;
  margin-bottom: 22px;
}
.testim-sliderbox .infor {
  display: flex;
  gap: 9px;
  color: #fff;
  align-items: center;
}
.testim-sliderbox .inf h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.testim-sliderbox .inf h5 {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
.testim-sliderbox .avts {
  --sz:40px;
  min-width: var(--sz);
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  overflow: hidden;
}
.testim-sliderbox .avts img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navLink {
  color: #fff;
}
.navLink.active, .navLink:hover {
  color: #cc0001;
}

.cmn-dd-theme.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 0;
}
.cmn-dd-theme.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content > a {
  padding: 3px 13px;
  width: 100%;
  display: inline-flex;
  border-radius: 4px;
}
.cmn-dd-theme.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content > a:hover {
  background: #cc0001;
  color: #fff;
}

.testimonials {
  padding-inline: 20px;
}

.testimonial-card {
  display: flex;
  background: #1c1c1c;
  border-radius: 24px;
  overflow: hidden;
  min-height: 500px;
}

/* LEFT IMAGE */
.testimonial-image {
  width: 45%;
}
.testimonial-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* RIGHT CONTENT */
.testimonial-content {
  width: 55%;
  padding: 50px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 17px;
}

.testimonial-message {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  max-width: 575px;
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 14px;
}
.testimonial-user .avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-user .name {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}
.testimonial-user .company {
  font-size: 14px;
  color: #aaa;
}

.testimonial-swiper .swiper-pagination {
  bottom: 95px !important;
  left: 369px !important;
}
.testimonial-swiper .swiper-pagination .swiper-pagination-bullet {
  background: #414141;
  opacity: 1;
  width: 10px !important;
  height: 10px !important;
}
.testimonial-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #cc0001;
}/*# sourceMappingURL=global.css.map */