@import "mixin.scss";

.hero-sec {
    .inner-area {
        padding: 20px;
    }
    .mySwiper {
        border-radius: 40px;
    }
    .custom-slider-btns { position: absolute; display: flex; justify-content: space-between; top: 50%; transform: translate(-50% , -50%); left: 50%;z-index: 2; width: calc(100% - 164px); }
    .custom-swiper-prev{
        button{&:hover{transform: translateX(-5px);}}
    }
    .custom-swiper-next{
        button{&:hover{transform: translateX(5px);}}
    }
}

.inr-slid {
    position: relative; min-height: 700px; border-radius: 40px; overflow: hidden; display: flex; align-items: center; padding-left: 142px;
    .content {max-width: 766px;}
    .sec-heading { color: #fff; padding-right: 23px; }
    .hero-para { color: #cccccc; font-size: 18px; margin-block: 15px; }
    .red-btn { height: 50px; min-width: 170px; width: fit-content; font-weight: 600; font-size: 16px;}
    .slider-image { position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover; }
}
