@import "mixin.scss";

.pg-product-listing {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  .product-card {
    @include divLayout(4, 30px);
  }
}

.table-grid {
  border: 1px solid #121212;
  width: fit-content;
  .tb-col {
    display: flex;
    font-size: 18px;
    .label {
      min-width: 214px;
      text-align: center;
      font-weight: 500;
       border-right: 1px solid #121212;
       text-transform: uppercase;
    }
    P {min-width: 214px;
      text-align: center;
      flex-grow: 1;color: #222;
      padding-inline: 5px;max-width: 350px;
    }
    &:not(:last-of-type){
      p,
      .label{
        border-bottom: 1px solid #121212;
      }
    }
  }
}

.product-gallery{
  .red-outline-btn{margin-top: 20px; height: 40px; width: 270px;}
  .mySwiper2{
    .img-box{height: 570px; border-radius: 30px; overflow: hidden;}
    img{object-fit: cover;}
    
  }
  .mySwiperSmall {
    margin-top: 30px;
    .img-box{height: 170px; border-radius: 20px; overflow: hidden;}
    img{object-fit: cover;}
    &.small-mode-swiper{
      .swiper-wrapper{
        justify-content: center;
      }
    }
  }
}